@import "tailwindcss";

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(8px);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@theme {
  --color-primary-50: #fff4e6;
  /* sangat terang, untuk background lembut */
  --color-primary-100: #ffe0b3;
  /* oranye pastel */
  --color-primary-200: #ffcc80;
  /* oranye muda */
  --color-primary-300: #ffb84d;
  /* oranye sedang */
  --color-primary-400: #ff9933;
  /* oranye cerah */
  --color-primary-500: #ff751a;
  /* oranye kemerahan utama */
  --color-primary-600: #e65c00;
  /* oranye gelap */
  --color-primary-700: #cc5200;
  /* oranye kemerahan pekat */
  --color-primary-800: #b34700;
  /* cenderung merah tua */
  --color-primary-900: #802b00;
  /* merah kecoklatan tua */
}


:root {
  --primary-50: #fff4e6;
  --primary-100: #ffe0b3;
  --primary-200: #ffcc80;
  --primary-300: #ff9933;
  --primary-400: #ff9933;
  --primary-500: #ff751a;
  --primary-600: #e65c00;
  --primary-700: #cc5200;
  --primary-800: #b34700;
  --primary-900: #802b00;
  --color-primary: #3B82F6;
  --color-primary-light: rgba(59, 130, 246, 0.1);
  --color-primary-medium: rgba(59, 130, 246, 0.2);
  --color-primary-dark: #2563EB;
  --color-primary-rgb: 59, 130, 246;
}

.text-primary-50 {
  color: var(--color-primary-50);
}

.text-primary-500 {
  color: var(--color-primary-500);
}

.text-primary-600 {
  color: var(--color-primary-600);
}

.text-primary-700 {
  color: var(--color-primary-700);
}

.text-primary-800 {
  color: var(--color-primary-800);
}

.text-primary-900 {
  color: var(--color-primary-900);
}

.bg-primary-500 {
  background-color: var(--primary-500);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-primary-medium {
  background-color: var(--color-primary-medium);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-dark {
  color: var(--color-primary-dark);
}

.border-primary {
  border-color: var(--color-primary);
}

.gradient-primary {
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark));
}

.gradient-primary-light {
  background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-medium));
}

.hover-primary:hover {
  background-color: var(--color-primary);
}

.hover-opacity:hover {
  opacity: 0.9;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    sans-serif;
}